<div class="row">
  <div class="col-lg-4 offset-lg-4">

    <h2 class="text-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
            
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name" %>
      </div><br />
      
      <div class="field">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, autocomplete: "birth_date" %>
        <%= f.label :genre %>
        <%= f.select :genre, options_for_select(['Male','Female','Other'], class: 'custom-select') %>
      </div><br />

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
      </div><br />

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
      </div><br />

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div><br />

      <div class="actions text-center">
        <%= f.submit "Sign up!", class: 'btn btn-success' %>
      </div><br />

      <div class="text-center mb-3">
        <%= render "devise/shared/links" %>
      </div>

    <% end %>

  </div>
</div>  