<div class="row">        
  <div class="col">
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nombre: <%= @medic.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= time_ago_in_words(@medic.created_at)%></h6>
        <p class="card-text">Rut: <%= @medic.rut %></p>
        <p class="card-text">Especialidad: <%= @medic.speciality %></p>
        <%= link_to 'Edit', edit_medic_path(@medic), class: 'card-link'  %>
        <%= link_to 'Destroy', @medic, class: 'card-link', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>

    <div class="text-center">
      <%= link_to 'Back', root_path, class: 'btn btn-primary mt-4' %>
    </div>
      
  </div> 
</div>

