<h1>Docs</h1>

<div class="row">
  <div class="col-lg-2">

    <%= link_to 'New Doc +', new_doc_path, class: 'btn btn-success w-100 mt-4', id: 'new_doc' %>
    <div id="doc_form">
      <%= render 'find' %>
    </div>
  </div>

  <div class="col-lg-8">

    <div class="card-deck">
      <div class="row">
        <% @docs.each do |doc| %>
        
          <div class="col-sm-4 mt-4">
            <div class="card">
              <% if doc.image.attached? %>
                <%= image_tag doc.image, class: 'card-img-top' %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= doc.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= time_ago_in_words(doc.created_at)%></h6>
                <p class="card-text text-truncate"><%= doc.content %></p>
                <%= link_to 'Show', doc, class: 'card-link' %>
                <%= link_to 'Edit', edit_doc_path(doc), class: 'card-link'  %>
                <%= link_to 'Destroy', doc, class: 'card-link text-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
            
        <%end%>
      </div>
    </div>

  </div>

   <div class="col-lg-2">

    <%= link_to 'New date +', new_doc_path, class: 'btn btn-success w-100 mt-4' %>
    
    <div class="card mt-3">
      <div class="card-header">
        Date
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Member<%= select_tag :member, options_for_select([["Diego"], ["Cata"], ["Marcelo"]])%></li>
        <li class="list-group-item">Date <%= date_field_tag (:date) %></li>
        <li class="list-group-item">Med <%= select_tag :member, options_for_select([["Diego"], ["Cata"], ["Marcelo"]])%></li>
        <li class="list-group-item">obs <%= text_area_tag :obs %></li>
      </ul>
    </div>

  </div>



</div>