<h1>Docs</h1>


<div class="row">
  <div class="col-lg-2">
<<<<<<< HEAD
    <%= link_to 'New doc +', new_doc_path, class: 'btn btn-success w-100 mt-4' %>

  </div>
=======
    </div>
>>>>>>> search
  

  <div class="col-lg-8">

    <div class="card-deck">
      <div class="row" id="docs">
        <% @docs.each do |doc| %>
        
          <div class="col-sm-6 mt-4">
            <div class="card">
              <% if doc.image.attached? %>
                <%= image_tag doc.image, class: 'card-img-top' %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= doc.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= time_ago_in_words(doc.created_at)%></h6>
                <p class="card-text text-truncate"><%= doc.content %></p>
                <%= link_to 'Show', doc, class: 'card-link' %>
                <%= link_to 'Edit', edit_doc_path(doc), class: 'card-link'  %>
                <%= link_to 'Destroy', doc, class: 'card-link text-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
            
        <%end%>
      </div>
    </div>

  </div>

   <div class="col-lg-2">

    <%= link_to 'New date +', new_medictask_path, class: 'btn btn-success w-100 mt-4' %>
    
    <% @medictasks.each do |medictask| %>
      
<<<<<<< HEAD
    <div class="card mt-3" id="date">
=======
    <div class="card mt-3">
>>>>>>> search
      
      <div class="card-body">
        <h5 class="card-title"><%= medictask.title %></h5>
        <p class="card-text"><%= medictask.content %></p>
        <p class="card-text"><%= medictask.date %></p>
        <p class="card-text"><%= medictask.medic %></p>
        <p class="card-text"><%= medictask.speciality %></p>

        <%= link_to  "Done", completed_medictask_path(medictask.id), class: 'btn btn-primary', method: :patch %>   
      </div>
    </div> 

<% end %>

  </div>



</div>