<h1>Docs</h1>


<div class="row">
  <div class="col-lg-2">
  </div>
  

  <div class="col-lg-8" >

    <div class="card-deck">
      <div class="row" id="docs">
        <%= render @docs %>
      </div>  
    </div>

  </div>

   <div class="col-lg-2">

    <%= link_to 'New date +', new_medictask_path, class: 'btn btn-success w-100 mt-4', id: 'dates' %>
    
    <% @medictasks.each do |medictask| %>
      
    <div class="card mt-3">
      
      <div class="card-body">
        <h5 class="card-title"><%= medictask.title %></h5>
        <p class="card-text"><%= medictask.content %></p>
        <p class="card-text"><%= medictask.date %></p>
        <p class="card-text"><%= medictask.medic %></p>
        <p class="card-text"><%= medictask.speciality %></p>
        <a href="#" class="btn btn-primary">Done</a>     
      </div>
    </div> 

<% end %>

  </div>



</div>