<h1>Docs</h1>


<div class="row">
  <div class="col-lg-2">
    <%= link_to 'New doc +', new_doc_path, class: 'btn btn-success w-100 mt-4', data: { remote: true} %>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  

  <div class="col-lg-8" >

    <div class="card-deck">
      <div class="row" id="docs">
        <%= render @docs %>
      </div>  
    </div>

  </div>

   <div class="col-lg-2">

    <%= link_to 'New date +', new_medictask_path, class: 'btn btn-success w-100 mt-4' %>
    
    <% @medictasks.each do |medictask| %>
      
    <div class="card mt-3">
      
      <div class="card-body">
        <h5 class="card-title"><%= medictask.title %></h5>
        <p class="card-text"><%= medictask.content %></p>
        <p class="card-text"><%= medictask.date %></p>
        <p class="card-text"><%= medictask.medic %></p>
        <p class="card-text"><%= medictask.speciality %></p>

        <%= link_to  "Done", completed_medictask_path(medictask.id), class: 'btn btn-primary', method: :patch %>   
      </div>
    </div> 

<% end %>

  </div>



</div>