<% @medictasks.each do |medictask| %>

  <div class="card mt-3" id="date">
    
    <div class="card-body">
      <h5 class="card-title"><%= medictask.title %></h5>
      <p class="card-text"><%= medictask.content %></p>
      <p class="card-text"><%= medictask.date %></p>
      <p class="card-text"><%= medictask.medic %></p>
      <p class="card-text"><%= medictask.speciality %></p>

      <%= link_to  "Done", completed_medictask_path(medictask.id), id: 'done', class: 'btn btn-primary', method: :patch, data: {notice: 'task completed'} %>   
    </div>
  </div>

<% end %>  