<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <%= link_to 'MyMeds', root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?(root_path)%>">
          <%= link_to  "Home", root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Members
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if @members.present?%>
              <ul class="list-group list-group-flush">
                <% @members.each do |member| %>
                  <span class="pl-2"><%= link_to  member.name, member, class: 'nav-link', data: {remote: true} %></span>
                <% end %>
              </ul>
            <% end %>  
            <%= link_to  "Add member +", new_member_path, class: 'list-group-item text-success', data: { remote: true} %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Medics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if @medics.present?%>
              <ul class="list-group list-group-flush">
                <% @medics.each do |medic| %>
                  <span class="pl-2"><%= link_to medic.name, medic, class: 'nav-link', data: {remote: true} %></span>
                <% end %>
              </ul>  
            <% end %>  
            <%= link_to  "Add medic +", new_medic_path, class: 'list-group-item text-success', data: { remote: true } %>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      </form>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" style="padding-left: 4rem; padding-right: 4rem;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="nav-item"> <%= image_tag current_user.image.variant(resize: '32x32'), class: 'img-thumbnail img-fluid circle rounded-circle', style: 'width: 32px; height: 32px' if current_user.image.present? %> Welcome <%= current_user.name %>!</span> 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= image_tag current_user.image.variant(resize: "200x200"), class: 'img-thumbnail rounded mx-auto d-block', style: 'width: 280px; height: 220px' if current_user.image.present?%>
              <%= link_to  "Edit Profile", edit_user_registration_path, class: 'dropdown-item', data: {remote: true} %>
              <%= link_to  "Logout", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
            </div>
          </li>       
      </div>
    </div>
  </nav>
<% end %>

<%= render 'shared/modal.html.erb' %>
