<div class="row">
  <div class="col">

    <%= form_with(model: member) do |form| %>
      <% if member.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

          <ul>
            <% member.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.file_field :image, class: 'form-control-file' %>
      </div>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div><br/>

      <div class="field">
        <%= form.label :birth_date %>
        <%= form.date_field :birth_date, class: 'form-control' , autocomplete: "birth_date"  %>
      </div><br/>

      <div class="field text-center">
        <%= form.label :genre %>
        <%= form.select :genre, options_for_select(['Male','Female','Other'], class: 'custom-select') %>
      </div><br/>

      <div class="actions text-center">
        <%= form.submit 'Save!', class: 'btn btn-success'  %>
      </div>
    <% end %>

  </div>
</div>
